@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #111827;
    --bg-color-light: #171f31;
    --bg-color-card: #1f2937;
    --primary-color: #39ad64;
    --primary-color-hover: #349b59;
    --text-color: #f3f4f6;
    --text-color-secondary: #c0c4cc;
    --text-color-dark: rgb(26, 25, 28);
    --border-color: #374151;
    --hover-bg: #272f3d;
    --transition: ease 0.2s
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Alegreya Sans", serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
}

/* navbar styles */
nav {
    background-color: var(--bg-color-light);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-color) solid 1px;
    color: var(--text-color);
}

.btn {
    background-color: var(--primary-color);
    outline: none;
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--primary-color-hover);
    box-shadow: var(--primary-color-hover) 1px 1px 7px;
}

.error {
    display: inline-block;
    min-height: 20px;
    color: rgb(196, 0, 0);
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

/*login style*/
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: var(--container-padding);
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(500px, 90%);
    padding: clamp(15px, 3vw, 20px);
    border-radius: 10px;
    background-color: var(--bg-color-light);
    border: solid 2px var(--border-color);
}

.login-card input {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px;
    border: 2px transparent solid;
    outline: none;
    font-size: clamp(0.875rem, 2vw, 1rem);
    font-weight: 600;
    color: var(--text-color-dark);
}

.login-card input:focus {
    border: var(--primary-color) solid 2px;
    outline: none;
}

/*register style*/
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: var(--container-padding);
}

.register-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(500px, 90%);
    padding: clamp(15px, 3vw, 20px);
    border-radius: 10px;
    background-color: var(--bg-color-light);
    border: solid 2px var(--border-color);
}

.register-card input {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px;
    border: 2px transparent solid;
    outline: none;
    font-size: clamp(0.875rem, 2vw, 1rem);
    font-weight: 600;
    color: var(--text-color-dark);
}

.register-card input:focus {
    border: var(--primary-color) solid 2px;
    outline: none;
}

.login-container h1,
.register-container h1 {
    margin-bottom: 20px;
}

.login-container label,
.register-container label {
    width: 100%;
    text-align: left;
    max-width: 350px;
    margin-bottom: 5px;
}

.login-container a,
.register-container a {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    margin-top: 10px;
}

/* main page style */

.main-img {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-img img {
    max-width: 400px;
    margin-top: 10px;
}